
/**************************************
        STYLE.CSS FOR PORTFOLIO
**************************************/

body{
    background: #eee;
    margin: 0px auto;
}

#container{
    background: #fff;
    margin: 0px auto;
    width: 82%;
    display: block;
    border: 2px solid #000;
}


main{

}

article{
    
}

section{

}
