
/**************************************
        STYLE.CSS FOR PORTFOLIO
**************************************/

body{
    background: #eee;
    font: 10pt/16pt arial;
    color: #333;
    margin: auto;
    transition: all 0.3s ease;
}

#container{
    background: #fff;
    margin: auto;
    width: 72%;
    display: block;
    border: 3px solid #aaa;
}


main{
    padding: 0px;
}

article{
    padding: 0px;
}

section{
    padding: 10px;
}

nav{
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

nav a, nav a:link, nav a:visited{
    text-align: center;
    width: 100px;
    background: #bbb;
    padding: 20px;  
    color: #000;
    font: 16pt/18pt arial;
}

nav a:hover{
    color: #fff;
    background: #ddd;
    transition: all 0.3s ease;
}

a,a:link,a:visited,a:active{
    color: #666;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover{
    color: #ddd;
    transition: all 0.3s ease;
}